body{
    background: #e5e5e5;
    font-family: 'Inter', sans-serif;
}

.contenedorGlobal{
    background-color: #e5e5e5;
    width: 100vw;
    height: 100vh;
    /*
    max-width: 1000px;*/
    /*margin: 0 auto;*/ /*Se elimino para que no centre demasiado los objetos*/
    overflow:hidden;
}

/*                   - HEADER -                 */
.logo{
    display: inline-block;
    padding: 15px;
    /*position: absolute;*/ /*Se elimino de todos lados por que ignoraba el div central*/
    width: 280px;
    height: 48px;
    margin: 0px 0px 0px 0px;
}

.aluralogo{
    transition: transform 0.5s ease;
}
/*
.vinculoalura{
    width: 30px;
    height: 30px;
}
*/
.aluralogo:hover{
    transform: scale(1.05);
}

.aluralogo:active{
    transform: scale(1.15);
}

.linkedlogo{
   /* position: absolute;*/
    width: 30px;
    /*
    top: 10px;
    left: 100px;
    */
    margin-bottom: 5px;
    margin-right: 5px;
    transition: transform 0.5s ease;
}

.linkedlogo:hover{
    transform: scale(1.05);
}

.linkedlogo:active{
    transform: scale(1.15);
}

.gitlogo{
   /* position: absolute;*/
    width: 30px;
    /*
    top: 10px;
    left: 150px;
    */
    margin-bottom: 5px;
    transition: transform 0.5s ease;
}

.gitlogo:hover{
    transform: scale(1.05);
}

.gitlogo:active{
    transform: scale(1.15);
}
/*
.cuadroTexto{
    position: absolute;
    width: 577px;
    height: 480px;
    left: 240px;
    top: 168px;
}
*/

/*              - Div 1: Entrada de texto y botones Encriptar/Desencriptar -            */

.cuadroTexto{
    position: absolute;
    display: inline-block;
    margin-top: 6%;
    margin-left: 13%;
    height: 80%;
}

.input{
    /*position: absolute;
    left: auto;
    right: 623px;
    top: 168px;
    margin-right: 183px;
    */
    font-size: 32px;
    color: #0A3871;
    background:transparent;
    border: transparent;
    resize: none;
    outline: none;
    height: 80%;
    width: 100%;

}
            /* - div para ambos botones - */
.botones{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    /*position: absolute;*/
    width: 680px;
    /*
    height: 67px;
    left: auto;
    right: 520px;
    top: 885px;*/
    margin-top: 10%;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
            /* - Boton encriptar - */
.encriptar{
    font-size: large;
    color: #d8dfe8;
    background-color: #0A3871;
    width: 328px;
    height: 67px;  
    border-radius: 32px;
    margin-right: 24px;
    border: none;
    transition: transform 0.5s ease
}
            /* - Boton Desencriptar - */
.desencriptar{
    font-size: large;
    color: #0A3871;
    background-color: #d8dfe8;
    width: 328px;
    height: 67px;
    border-radius: 32px;
    border:none;
    transition: transform 0.5s ease;
}
            /* - Animaciones hover y active - */
.encriptar:hover{
    transform: scale(1.05);
}

.encriptar:active{
    transform: scale(1.15);
}

.desencriptar:hover{
    transform: scale(1.05);
}

.desencriptar:active{
    transform: scale(1.15);
}
            /* - Advertisment: No ingresar texto en mayusculas ni acentos - */
.alert{
    font-size: smaller;
    color: gray;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    position: absolute;
    width: 80%;
    top: 85%;
    left: 1.5%;
}

/*                  - Div 2: Recuadro blanco, aqui muestra nuestro texto Encriptado/Desencriptado o la imagen donde dice que no se encontro texto */


            /* - Recuadro blanco que contiene todos los elementos - */
.txtcod{

    /* Cambie absolute por relative para que la pagina sea responsiva dependeiendo de en que dispositivo se use
    aun no termino de configurarlo*/
    display: flex;
    position: absolute;
    justify-content: center;
    width: 20%;
    height: 90%;
    left: 70%;
    /*
    right: 40px;
    top: 40px;
    
    margin-bottom: 40px;
    */
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}
                /*  - Div de la imagen- */
.imgCuadro{
    position: absolute;
    width: 100%;
    height: 40%;
    /*
    left: 32px;
    top: 243px;
    */
    top: 15%;
}
                    /* - Imagen - */
.imgMuneco{
    position: absolute;
    width: 90%;
    height: auto;
    margin-left: 7%;
    top: 25%;
}
            /* - Frame donde esta el texto "no se encontro texto a encriptar" - */
.Frame{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    position: absolute;
    width: 100%;
    /*
    height: 122px;
    left: 32px;
    bottom: 243px;
    */
    top: 60%;
    }

.lista{
    text-align: center;
}

.txtResaltado{
    font-size: large;
    font-weight: bold;
    padding-bottom: 16px;
    padding-top: 16px;
}

            /* - Text area donde se imprimirá el texto encriptado/desencriptado - */

.mensaje{
    width: 80%;
    font-size: 24px;
    font-weight: 400;
    color: #495057;
    line-height: 150%;
    height: 80%;
    margin-top: 32px;
}
            /* - Botón de Copiar - */
.copiar{
    position: absolute;
    font-size: large;
    color: #0A3871;
    background-color: #d8dfe8;
    width: 80%;
    height: 67px;
    border-radius: 32px;
    border:none;
    transition: transform 0.5s ease;
    top: 90%;
}
            /* - Animaciones de boton copiar - */
.copiar:hover{
    transform: scale(1.05);
}

.copiar:active{
    transform: scale(1.15);
}

/*                  - Pie de pagina -                   */
.piePagina{
    font-size: smaller;
    color: gray;
    display: inline-block;
    /*
    flex-direction: row;
    align-items: center;
    */
    padding: 0px;
    /*
    gap: 8px;
    */
    position: absolute;
    /*
    width: 80%;
    */
    top: 98%;
    left: 50%;
}

/*                 - Responsive Design -                    */
@media (max-width: 1250px) {
    
    .contenedorGlobal{
        width: 100%;
    }

    /*              - DIV 1: Text Area y botones encriptar/desencriptar -                   */
    .cuadroTexto{
        width: 80%;
        height: 70%;
        margin-left: 10%;
    }

    .input{
        width: 100%;
        height: 80%;
        /*
        left: 10%;
        top: 5%;
        */
    }

    .alert{
        width: 80%;
        left: 5%;
        top: 80%;
        font-size: 16px;
        margin-top: 1%;
    }

    .botones{
        width: 100%;
        /*
        left: 10%;
        top: 70%;
        */
        margin-top: 5%;
    }

    /*                  - DIV 2: recuadro de texto encriptado y boton copiar -                  */

    .txtcod{
        width: 80%;
        height: 25%;
        /*
        bottom: 5%;
        */
        left: 10%;
        top: 85%;

    }

    .imgCuadro{
        display: none;
    }

    .mensaje{
        margin-top: 1%;
        height: 65%;
        width: 90%;
    }

    .Frame{
        top: 40%;
        width: 100%;
        align-items: center;
    }

    .copiar{
        top: 75%;
        width: 70%;
        height: 20%;
    }

    /*              - Pie de pagina -               */
    .piePagina{
        /*
        top: 107%;
        */
        left: 37%;
        margin-top: 20%;
    }
    
}

@media (max-width: 1280px) and (min-width: 1250px){

    .piePagina{
        margin-top: 4%;
        left: 40%;
    }
}