

body{
    background: #e5e5e5;
    font-family: 'Inter', sans-serif;
}

.logo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    position: absolute;
    width: 280px;
    height: 48px;
    left: 40px;
    top: 40px;
}

.aluralogo{
    transition: transform 0.5s ease;
}

.aluralogo:hover{
    transform: scale(1.05);
}

.aluralogo:active{
    transform: scale(1.15);
}

.linkedlogo{
    position: absolute;
    width: 30px;
    top: 10px;
    left: 100px;
    transition: transform 0.5s ease;
}

.linkedlogo:hover{
    transform: scale(1.05);
}

.linkedlogo:active{
    transform: scale(1.15);
}

.gitlogo{
    position: absolute;
    width: 30px;
    top: 10px;
    left: 150px;
    transition: transform 0.5s ease;
}

.gitlogo:hover{
    transform: scale(1.05);
}

.gitlogo:active{
    transform: scale(1.15);
}
/*
.cuadroTexto{
    position: absolute;
    width: 577px;
    height: 480px;
    left: 240px;
    top: 168px;
}
*/

.input{
    position: absolute;
    left: auto;
    right: 623px;
    top: 168px;
    margin-right: 183px;
    font-size: 32px;
    color: #0A3871;
    background:transparent;
    border: transparent;
    resize: none;

}

.txtcod{

    /* Cambie absolute por relative para que la pagina sea responsiva dependeiendo de en que dispositivo se use
    aun no termino de configurarlo*/
    display: block;
    position: absolute;
    width: 400px;
    height: 944px;
    left: auto;
    right: 40px;
    top: 40px;
    margin-bottom: 40px;

    background: #FFFFFF;

    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

.imgCuadro{
    position: absolute;
    width: 336px;
    height: 304px;
    left: 32px;
    top: 243px;
}

.Frame{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    position: absolute;
    width: 336px;
    height: 122px;
    left: 32px;
    bottom: 243px;
    }

.lista{
    text-align: center;
}

.txtResaltado{
    font-size: large;
    font-weight: bold;
    padding-bottom: 16px;
    padding-top: 16px;
}

.botones{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    position: absolute;
    width: 680px;
    height: 67px;
    left: auto;
    right: 520px;
    top: 885px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.encriptar{
    font-size: large;
    color: #d8dfe8;
    background-color: #0A3871;
    width: 328px;
    height: 67px;  
    border-radius: 32px;
    margin-right: 24px;
    border: none;
    transition: transform 0.5s ease
}

.desencriptar{
    font-size: large;
    color: #0A3871;
    background-color: #d8dfe8;
    width: 328px;
    height: 67px;
    border-radius: 32px;
    border:none;
    transition: transform 0.5s ease;
}

.encriptar:hover{
    transform: scale(1.05);
}

.encriptar:active{
    transform: scale(1.15);
}

.desencriptar:hover{
    transform: scale(1.05);
}

.desencriptar:active{
    transform: scale(1.15);
}

.alert{
    font-size: smaller;
    color: gray;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    position: absolute;
    width: 240px;
    height: 18px;
    left: auto;
    right: 971px;
    top: 851px;
}